

#box1{
    p.solid {border-style: solid;}
    border: 5px solid rgb(5, 43, 97);
    background-color: rgb(255, 255, 255);
    front-size: 10em;
    width: fit-content;
    margin-top: 100px;
    margin-right: 200px;
}
    
    

#box2{
    p.solid {border-style: solid;}
    border: 5px solid rgb(4, 128, 26);
    background-color: rgb(255, 255, 255);
    margin-top: 120px;
    margin-left: 150px;
    front-size: 10em;
    width: fit-content;
}


#box3{
    p.solid {border-style: solid;}
    
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
    front-size: 10em;
    width: fit-content;
}
